@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
.password-page {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, Arial;
    overflow-y: auto;
}
.password-page::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

.title {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 700;
    padding-bottom: 10px;
}
p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
.longitud-input label {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}
.password-container {
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(70, 70, 70, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
}
.longitud-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#longitud {
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    background: rgba(255,255,255,0.1);
    color: #fff;
    font-size: 18px;
    text-align: center;
}
#generar {
    padding: 12px 26px;
    border-radius: 12px;
    border: none;
    width: 100%;
    color: black;
    font-weight: 600;
    font-size: 18px;
    margin-top: 6px;
}
#generar:hover {
    transform: translateY(-3px);
    background-color: #fdd835;
    color: black;
}
.resultado-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
#resultado {
    padding: 10px 15px;
    border-radius: 12px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 18px;
    text-align: center;
    min-width: 220px;
    max-width: 300px;
    flex-grow: 1;
}
#copiar {
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background-color: white;
    font-weight: 700;
    font-size: 16px;
}
#copiar:hover {
    transform: translateY(-3px);
    background-color: #ffea00;
}

/* Media queries */
@media (max-width: 768px) {
    .password-container {
        padding: 30px;
        width: 90%;
    }
    .title {
        font-size: 28px;
    }
    
    #longitud {
        font-size: 16px;
    }
    #generar {
        font-size: 16px;
        padding: 10px 20px;
    }
    #resultado {
        font-size: 16px;
        min-width: 180px;
        max-width: 250px;
    }
}

@media (max-width: 480px) {
    .password-container {
        padding: 20px;
    }
    .title {
        font-size: 24px;
        line-height: 1.5;
    }
    p {
        font-size: 16px;
        line-height: 1.5;
    }
    .longitud-input label {
        font-size: 16px;
        line-height: 1.5;
    }
    #longitud {
        font-size: 14px;
    }
    #generar {
        font-size: 14px;
        padding: 8px 16px;
    }
   #resultado {
        font-size: 14px;
        min-width: 150px;
        max-width: 200px;
    }
}

@media (min-width: 1025px) {

    html, body {
        overflow-y: hidden; 
    }
}